server{
    listen 80;
    server_name {{ main_domain }};
    index index.html index.htm index.php;
    root  /data0/web/wwwroot/{{ main_dir }}/{{ sub_dir }};

    if ($http_user_agent ~* "Baiduspider") {
         return 444;
    }

    include setup/php/*.conf;
    include setup/common/*.conf;

    access_log off;
}
