server {
    set $Site www.test.com;
    listen 80;
    server_name www.test.com;
    index index.php index.html index.htm;
    root /data0/web/$Site;

    include setup/common/*.conf;

    access_log /data0/logs/nginx/www.test.com.access.log  main_product;
}
