server {
    set $Site {{nginx_server_name}};
    listen 80;
    server_name {{nginx_server_name}};
    index index.php index.html index.htm;
    root {{nginx_www_dir}};

    include setup/common/*.conf;

    access_log /data0/logs/nginx/{{nginx_server_name}}.access.log  main_product;
}
