server {
    set $Site {{nginx_server_name}};
    listen 80;
    server_name {{nginx_server_name}};
    index index.php index.html index.htm;
    root {{nginx_www_dir}};

    location / {
        if (!-e $request_filename) {
            rewrite ^/(.*)$ /index.php/$1 last;
        }
    }

    include setup/common/*.conf;
    include setup/php/*.conf;

    access_log /data0/logs/nginx/{{nginx_server_name}}.access.log  main_product;
}
