server {
    set $Site {{nginx_server_name}};
    listen 80;
    server_name {{nginx_server_name}};

    location / {
        proxy_pass http://{{ proxy_host }}:{{ proxy_port }};
        include setup/proxy/proxy.conf;
    }

    include setup/common/*.conf;

    access_log /data0/logs/nginx/{{nginx_server_name}}.access.log  main_product;
}
