##################
LoadModule dav_svn_module modules/mod_dav_svn.so
LoadModule authz_svn_module modules/mod_authz_svn.so
#Listen 127.0.0.1:23333
<VirtualHost *:22222>
ServerAdmin {{ svn_domain }}
ServerName  {{ svn_domain }}
ErrorLog /var/log/httpd/{{ svn_domain }}-error_log
CustomLog /var/log/httpd/{{ svn_domain }}-access_log common
<Location />
DAV svn
SVNParentPath {{ svn_dir }}
SVNListParentPath on
AuthType Basic
AuthBasicProvider file
AuthName "{{ svn_domain }} SVN beta"
AuthUserFile {{ svn_dir }}/passwd
Require valid-user
AuthzSVNAccessFile {{ svn_dir }}/authz
</Location>
</VirtualHost>
####################
