[mysqld]
###### Mysql Global ######
user    = {{ mysql_user }}
port    = {{ mysql_port }}
bind_address=0.0.0.0
socket  = {{ mysql_datadir }}/{{ mysql_port }}/mysql.sock 
basedir = {{ mysql_install_dir }}
datadir = {{ mysql_datadir }}/{{ mysql_port }}/data
pid_file = {{ mysql_datadir }}/{{ mysql_port }}/mysql.pid
log_error = {{ mysql_datadir }}/{{ mysql_port }}/logs/mysql-error.log
slow_query_log_file = {{ mysql_datadir }}/{{ mysql_port }}/logs/mysql-slow.log
slow_query_log = 1
long_query_time = 1

query_cache_size                   = 0
query_cache_type                 = 0
skip_name_resolve                =1
default_storage_engine                = InnoDB
character_set_server              =utf8
#character_set_client             =utf8
#character_set_connection         =utf8
#character_set_results            =utf8


max_connections                    = 100
max_connect_errors                = 100000
thread_cache_size                   =10
back_log                                  = 100
max_length_for_sort_data       = 1024 
max_sort_length                      = 1024 
sort_buffer_size                        = 4M
join_buffer_size                        = 4M
read_rnd_buffer_size                = 4M
tmp_table_size                         = 32M
max_heap_table_size               = 32M
max_allowed_packet               = 32M
interactive_timeout                 = 31536000
wait_timeout                            = 31536000

### Binlog ###
server_id                                   = 2
sync_binlog                              =10
binlog_format                         = MIXED
expire_logs_days                      = 14
binlog_cache_size                    = 8M
max_binlog_cache_size           = 256M
max_binlog_size                      = 1G
log_bin = {{ mysql_datadir }}/{{ mysql_port }}/logs/binlog/mysql-bin
log_bin_index  = {{ mysql_datadir }}/{{ mysql_port }}/logs/binlog/mysql-bin.index

###  Slave  ###
auto_increment_offset             = 1
auto_increment_increment     = 1
log_slave_updates                    = 1      
skip_slave_start                         = 1
slave_net_timeout                    = 60
sync_master_info                      = 100000
sync_relay_log                           = 100000
sync_relay_log_info                   = 100000
master_info_repository             = TABLE
relay_log_info_repository         = TABLE
relay_log ={{ mysql_datadir }}/{{ mysql_port }}/logs/relaylog/mysql-relay-bin
relay_log_index = {{ mysql_datadir }}/{{ mysql_port }}/logs/relaylog/mysql-relay-bin.index


###### Myisam ######
key_buffer_size                         = 16M
read_buffer_size                       = 1M
bulk_insert_buffer_size             = 64M 
myisam_sort_buffer_size           = 128M
myisam_recover                        = FORCE,BACKUP

###### Innodb ######
transaction_isolation                = REPEATABLE-READ
innodb                                       =FORCE
innodb_data_file_path              = ibdata1:1024M:autoextend
innodb_buffer_pool_size          = 512M
innodb_log_file_size                  = 256M
innodb_log_files_in_group        = 2
innodb_log_buffer_size             = 8M
innodb_file_per_table                =1
innodb_stats_persistent             =1
innodb_flush_log_at_trx_commit = 2
innodb_max_dirty_pages_pct     = 75
innodb_lock_wait_timeout         = 120
innodb_print_all_deadlocks        = 1
innodb_buffer_pool_load_at_startup   =1
innodb_buffer_pool_dump_at_shutdown   =1
innodb_flush_method                = O_DIRECT

