[mysqld]
# 基础设置
user            = mysql
bind-address    = 0.0.0.0
port            = 3306
server-id       = {{ inventory_hostname|hash('sha256')|int(base=16) }}
default_authentication_plugin=mysql_native_password

# 数据库文件和日志
datadir         = /var/lib/mysql
log_error       = /var/log/mysql/error.log
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock

# 性能优化
innodb_buffer_pool_size = 1G
innodb_log_file_size     = 256M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT

# 连接设置
max_connections = 200
wait_timeout = 600
interactive_timeout = 600

# 日志设置
general_log       = OFF
general_log_file  = /var/log/mysql/mysql.log
slow_query_log     = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time    = 2

# 其他设置
character_set_server = utf8mb4
collation_server     = utf8mb4_general_ci
default_time_zone    = '+00:00'
#super_read_only = 0

#半同步复制
gtid_mode = ON
enforce_gtid_consistency = ON
