[Unit]
Description=Apache RocketMQ NameServer
After=network.target

[Service]
Type=forking
ExecStart=/opt/rocketmq/bin/mqnamesrv
ExecStop=/opt/rocketmq/bin/mqshutdown namesrv
User=rocketmq
Group=rocketmq
Restart=on-failure
LimitNOFILE=655350

[Install]
WantedBy=multi-user.target
