# Redis configuration file example

# Network
bind {{ hostvars[inventory_hostname]['ansible_host'] }}
protected-mode yes
port 6379
tcp-backlog 511

# Specify the timeout for client connections in seconds. Set to 0 to disable timeout.
timeout 0
tcp-keepalive 300

# General configuration
daemonize yes
supervised systemd
pidfile /var/run/redis_6379.pid
loglevel notice
logfile /var/log/redis/redis-server.log
databases 16

# Require clients to issue AUTH <PASSWORD> before processing any other commands.
requirepass {{ redis_passwd }}
masterauth {{ redis_passwd }}

# Save the DB on disk:
#   after 900 seconds (15 min) if at least 1 key changed
#   after 300 seconds (5 min) if at least 10 keys changed
#   after 60 seconds if at least 10000 keys changed
save 900 1
save 300 10
save 60 10000

# RDB and AOF persistence
dbfilename dump.rdb
dir /var/lib/redis

# Append only mode: aof-rewrite-percentage and aof-rewrite-min-size
appendonly no
appendfilename "appendonly.aof"
appendfsync everysec

# Set a specific fsync policy
# no-appendfsync-on-rewrite yes

# Redis Cluster support
# cluster-enabled no
# cluster-config-file nodes.conf
# cluster-node-timeout 15000

# Scripting configuration
# lua-time-limit 5000

# Slow log configuration
slowlog-log-slower-than 10000
slowlog-max-len 128

# Latency monitor
latency-monitor-threshold 0

# Event notification
notify-keyspace-events ""

# Advanced config
# maxmemory <bytes>
# maxmemory-policy noeviction

# LRU and LFU eviction configuration
# maxmemory-samples 5

# Security
# rename-command FLUSHDB ""
# rename-command FLUSHALL ""
# rename-command CONFIG ""
# rename-command SHUTDOWN ""

# Limits
maxclients 10000
maxmemory 256mb

# Include other configuration files
# include /path/to/local.conf

{% if redis_role == 'slave' %}
slaveof {{ hostvars['master']['ansible_host'] }} 6379
{% endif %}